.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 330px;
  height: 400px;
  transition: 200ms ease;
  // background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); quand vue
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 0) 3%,
    rgba(77, 166, 184, 1) 100%
  );
  border-radius: 20px;
  .card {
    position: absolute;
    transition: 200ms ease;
  }
  .front,
  .back {
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .back {
    transform: rotateY(180deg);
  }
  &:hover {
    .front {
      transform: rotateY(180deg);
    }
    .back {
      transform: rotateY(0);
    }
  }
  .img-container {
    padding: 20px 10px;
    width: auto;
    height: auto;
    .__img {
      object-fit: cover;
      width: 100%;
      height: 300px;
      border-radius: 20px;
    }
  }
}
.movie_title {
  font-family: $fontTitle;
  color: $basicColor;
  width: 100%;
  text-align: center;
  .__title {
    font-size: 20px;
  }
}
.description {
  font-family: $fontTitle;
  padding: 10px;
  color: $basicColor;

  max-height: 60%;
  overflow: hidden;

  p {
    margin-bottom: 5px;
  }
}
.container_back {
}
.btn-part {
  position: absolute;
  height: auto;
  display: flex;
  height: 50px;
  bottom: 40px;
  flex-direction: column;
  .btn {
    font-family: $fontTitle;
    text-align: center;
    border-bottom: 2px solid $basicColor;
    border-top: 2px solid $basicColor;
    font-size: 20px;
    padding: 2px 5px;
    border-radius: 10px;
    color: $ColorrSecondary;
  }
  button:first-child {
    margin-bottom: 10px;
  }
}
