$ColorPrimary: #4da6b8;
$ColorrSecondary: #c17589;
$ColorTertiary: #7d3647;
$basicColor: rgb(245, 222, 179);
$FontSizeTitle: 20px;

$fontTitle: cursive;
button {
  border: none;
  background: none;
}
